.snakemake
*/iqtree/**/*uniqueseq.phy
*/iqtree/**/*.ckp.gz
*/snippy_multi/**/*.aln
*/snippy_multi/**/*.tmp
*/snippy_multi/**/*.fai
*/multiqc/*/multiqc_plots
*.trees
*.obj
**/beast/*phylogeo*

# BEAST tmp
*step*
*/beast/**/*.sh
*/beast/**/*_log*tsv
**/*.state
*/beast/**/phylogeography/*.log
*/beast/**/phylogeography/old*
