.snakemake
*/iqtree/**/*uniqueseq.phy
*/iqtree/**/*.ckp.gz
*/snippy_multi/**/*.aln
*/snippy_multi/**/*.tmp
*/snippy_multi/**/*.fai
*/multiqc/*/multiqc_plots
*.trees
*.obj
**/beast/*phylogeo*

# Large Files
*/data/
*/locus_coverage_collect/
*/clonalframeml/

# BEAST tmp
*step*
*/beast/**/*.log
*/beast/**/*.sh
*/beast/**/*_log*tsv
**/*.state
*/beast/**/phylogeography/*.log
*/beast/**/phylogeography/old*
